AC/tmp/

*.swp

# Images
AC/p.btk/img/bridge1.png
AC/p.btk/img/bridge2.png
AC/p.btk/img/btkbase.png
AC/p.btk/img/btkfuck-emph.png
AC/p.btk/img/btkfuck.png
AC/p.btk/img/btkorig.png
AC/p.btk/img/btksemiall.png
AC/p.btk/img/comp1.png
AC/p.btk/img/comp2.png
AC/p.btk/img/driver1.png
AC/p.btk/img/driver2.png
AC/p.btk/img/relay1.png
AC/p.btk/img/relay2.png
AC/p.btk/img/usb2bt2-rn42-base1.png
AC/p.btk/img/usb2bt2-rn42-base2.png
AC/p.btk/img/usb2bt2-rn42-comp.png
AC/p.btk/img/usb2bt2-rn42-fin.png
AC/p.btk/img/usb2bt2-rn42-guriko1.png
AC/p.btk/img/usb2bt2-rn42-guriko2.png
AC/p.btk/img/usb2bt2-rn42.png
AC/p.btk/img/usb2bt2-rn42-sn.png
AC/p.btk/img/usb2bt2-rn42-terminal.png
AC/p.btk/img/usb2bt2-rn42-test.png
AC/p.btk/img/usb2bt2-rn42-vinyl.png
AC/p.btk/img/usbhostshield20.png
AC/p.cctn/img/cables-back.png
AC/p.cctn/img/cables-front.png
AC/p.cctn/img/front.png
AC/p.fb/img/bcast.png
AC/p.fb/img/out.png
AC/p.jsec/exp3-result.eps
AC/p.jsec/exp4-2-tic.eps
AC/p.jsec/exp4-2-tie.eps
AC/p.ngk/f.diff.eps
AC/p.ngk/j1.result.eps
AC/p.ngk/j1.structure.eps
AC/p.ngk/j2.result.eps
AC/p.ngk/j2.structure.eps
AC/p.pochi/img/circuit.png
AC/p.pochi/img/motion.png
AC/p.pochi/img/peace.png
AC/p.pochi/img/perspective.png
AC/p.pochi/img/tilt.png
AC/p.pochi/img/wire-left.png
AC/p.pochi/img/wire-right.png
AC/p.pochi/img/wire-with-motor.png
AC/p.server/img/peri-circ1.png
AC/p.server/img/peri-circ2.png
